<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="Use A Fireman\Use A Fireman\Fireman Login\Generic.css">
    </head>
    
    <body>
        <div class="topstripe"></div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-pills pull-right">
                            <li class="active">
                                <a href="#">HELP</a>
                            </li>
                            <li>
                                <a href="#">LOGOUT</a>
                            </li>
                            <li>
                                <a href="#"><img src="Use A Fireman\Use A Fireman\Fireman Login\Oval.png" class="img-circle img-responsive"></a>
                            </li>
                            <li>
                                <a href="#">Name Placeholder</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>